* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    
}
body{
    font-family:'Montserrat',sans-serif;
}
.titel-top{
    display: none;
}
a{
    text-align: left;
    text-decoration: none;
}
.container {
    max-width: 1000px;
    display:flex;   
}
 .rotate90 {
    transform: rotate(90deg);
   transition: transform 0.3s ease;  
   width: 22px;
  height: auto;
}

 
.product img{
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 500px;
    transition: transform .2s; /* Animation */
}
.zoom{
    transition: transform .2s; /* Animation */

}
.zoom img:hover{
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.product-info{
    max-width: 500px;
    height: auto;
 }

.titel{
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 25px;
    line-height :24px;
    color: #505050;
}
.donne{
    font-weight: 400;
    font-size: 16px;
    line-height :19px;
    color: #505050;
}
 
.product-donne{
    font-weight: 400;
    font-size: 25px;
    line-height :30px;
    color: #505050;

    
}
.product-donne-red{
    font-weight: 400;
    font-size: 25px;
    line-height :30px;
    color: #DF2727;

    
}
.donne-green{
    margin-top:10px;
    font-weight: 700;
    font-size: 20px;
    line-height :24px;
    color: #AFD96F;
}
.button-kaufen{
    background-color: transparent;
    border: 1px solid #AFD96F;
    border-radius: 50px;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
     padding-left: 100px;
    padding-right: 100px;
    margin-top: 25px;
}


.similar-products-title{
    padding-top:60px;
}
.similar-products{
    max-width: 1000px;
    max-height: 500px;
    display:flex; 
    padding-top: 50px;;

}

/*.product-card-similar{
    flex: 1 1 300px;
    max-width: 300px;
    box-sizing: border-box;
    position: relative;
}*/
.product-img-similar {
    max-width: 100%;
    height: auto;
    width: 360px;
    height: 360px;
    border-left: 3px solid #E1E1E1;
}
.product-img-similar img{
   
    width: 360px;
    height: 360px;
}

@media screen and (max-width: 700px) {
    body {
        display: block;
    }
    
    .container{
        display: block;

    }
    .image{
        width: 100%;
        height:auto;
    }
    .product-info{
         width: 100%;
    }
    .product img{
        max-width: 100%;
        height: auto;
    }
    .button-kaufen{
        width: 100%;
        }
    .titel-product{
        display: none;
    }
    .titel-top{
        display:block;
    }
    .similar-products-title{
        padding-top:60px;
    }
    .similar-products{
        display: block;
 

    }
    .product-img-similar{
        width: 100%;
        height:auto;
    }

}